## Import libraries

In [1]:
import cassandra
from cassandra.cluster import Cluster

## Create a connection to the database

In [2]:
try: 
    cluster = Cluster(["127.0.0.1"])
    session = cluster.connect()
except Exception as e:
    print(e)

## Create a keyspace to do the work in

In [3]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity_keyspace
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

## Connect to the keyspace

In [4]:
try:
    session.set_keyspace("udacity_keyspace")
except Exception as e:
    print(e)

## Song library

### Create a table

Create a Song Library that contains a list of songs, including:  

song_title  
artist_name  
year  
album_name  
single  

We need to create a table to be able to run the following query:  
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [5]:
create_table_query = """
CREATE TABLE IF NOT EXISTS song_library (
    song_title text,
    artist_name text,
    year int,
    album_name text,
    single boolean,
    PRIMARY KEY (year, artist_name)
    );"""
try:
    session.execute(create_table_query)
except Exception as e:
    print(e)

### Insert some rows

`First Row: "1970", "Let It Be", "The Beatles", "Across The Universe", "False", `

`Second Row: "1965", "Think For Yourself", "The Beatles", "Rubber Soul", "False"`

In [6]:
insert_query = """INSERT INTO song_library (year, song_title, artist_name, album_name, single)
                    VALUES (%s, %s, %s, %s, %s)""" 

try:
    session.execute(insert_query, (1970, "Let It Be", "The Beatles", "Across The Universe", False))
except Exception as e:
    print(e)
    
try:
    session.execute(insert_query, (1965, "Think For Yourself", "The Beatles", "Rubber Soul", False))
except Exception as e:
    print(e)

### Validate data insertion

In [7]:
query = 'SELECT * FROM song_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Across The Universe The Beatles

### Validate the data model with the original query

In [8]:
query = """
SELECT * 
FROM song_library
WHERE year = 1970 AND
    artist_name = 'The Beatles';
"""
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Across The Universe The Beatles

## Drop the table

In [9]:
try:
    rows = session.execute("DROP TABLE song_library;")
except Exception as e:
    print(e)

## Close session and cluster connection

In [10]:
session.shutdown()
cluster.shutdown()